body {
  background-image: url("music-page-background.jpg");
  background-attachment: fixed;
  background-position: center;
}

p {
  font-size: 1.5rem;
}

.outline {
  outline: 1px solid red;
}

.border {
  border: 5px solid black;
}

.m-tb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.oh {
  overflow: hidden;
}

.bc {
  background: rgba(247, 245, 245, 0.5);
}

.br {
  border-radius: 10px;
}

img {
  float: left;
}

.holder {
  position: relative;
  min-height: 197px;
  border-bottom: 20px;
}

audio {
  position: absolute;
  bottom: 0;
}

.form-inline {
  position: fixed;
}
